main{
    color: var(--white);
}

.title{
    text-align: start;
    color: var(--white);
    font-family: "Merriweather";
    margin-top: 1rem;
}

.search{
    margin-top: 1rem;
    width: calc(100% - 2rem);
    border: none;
    background-color: gray;
    color: white;
    outline: none;
    padding: .5rem 1rem;
    font-size: 1.3rem;
    border-radius: .7rem;
}

.actions{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.action__button, .register__data__button{
    padding: .5rem 1rem;
    flex-grow: 1;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: .7rem;
    outline: none;
    border: none;
}

.table{
    margin-top: 1.3rem;
    width: 100%;
}

.invitations__information{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1.3rem;
    gap: .8rem;
}

.information__title{
    grid-column: span 3;
}

.information__item{
    background-color: var(--light-gray);
    text-align: left;
    padding: .3rem;
    border-radius: .7rem;
}

.header__name{
    text-align: left;
}

.registers{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.2rem;
}

.register__name{
    font-size: 1rem;
}

.register{
    text-align: left;
    background-color: gray;
    padding: 1rem;
    border-radius: .7rem;
}

.register__title{
    font-size: 1rem;
}

.register__name{
    text-align: left;
    font-size: 1.2rem;
}

.register__information{
    display: flex;
    justify-content: start;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: .7rem;
}

.register__number{
    background-color: var(--light-gray);
    padding: .4rem;
    border-radius: .7rem;
    flex: 1;
}

.register__actions{
    display: grid;
    gap: .7rem;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.2rem;
}

.register__data__button{
    background-color: var(--blue);
    font-size: .9rem;
    border-radius: .6rem;
    text-decoration: none;
    color: var(--white);
    text-align: center;
}

.green{
    background-color: #25cc64;
}

.red{
    background-color: var(--red);
}

/* Add invitation form */
.modal{
    display: flex;
    height: 100vh;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}

.frame{
    color: white;
    background-color: var(--gray);
    width: calc(90% - 4rem);
    height: fit-content;
    padding: 2rem;
    text-align: center;
    border-radius: .7rem;
    position: relative;
    opacity: 0%;
    transition: opacity 500ms ease;
}

.frame.active{
    opacity: 100%;
}

.frame__title{
    font-size: 1.6rem;
    text-align: center;
}

.frame__text{
    font-size: 1rem;
    text-align: center;
}

.frame__image{
    width: 6.5rem;
    margin: 0 auto 1rem auto;
}

.frame__button.message{
    margin-top: 1rem;
}

.validation_text{
    margin-top: 1rem;
    background-color: var(--red);
    opacity: 0;
    border-radius: .5rem;
    transition: opacity 500ms ease;
}

.validation_text.active{
    opacity: 100%;
}

.frame__field{
    margin-top: .7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.frame__field label, .frame label{
    font-size: 1.2rem;
    font-weight: bold;
}

.frame__field input, .amount__passes input{
    border: none;
    outline: none;
    background-color: var(--light-gray);
    padding: .5rem;
    width: 100%;
    margin-top: .3rem;
    border-radius: .7rem;
}

.amount__passes__title{
    margin-top: 1.6rem;
    display: block;
    text-align: center;
}   

.amount__passes{
    display: flex;
    justify-content: center;
    text-align: center;
}

.amount__passes label{
    display: block;
}

.amount__passes input{
    width: 4rem;
    text-align: center;
    margin-top: .3rem;
}

.frame__button{
    width: 100%;
    background-color: var(--blue);
    border: none;
    outline: none;
    padding: .5rem;
    border-radius: .7rem;
    margin-top: 1rem;
}

.close_button{
    position: absolute;
    left: .5rem;
    top: .5rem;
    width: 30px;
    height: 30px;

}

/* Copy Message */
.copy_message{
    position: absolute;
    left: calc(50% - 4.5rem);
    bottom: 2rem;
    background-color: rgba(0, 0, 0, .5);
    font-size: 1rem;
    color: white;
    width: 9rem;
    border-radius: .5rem;
    opacity: 0%;
    transition: opacity 500ms ease;
}

.copy_message.active{
    opacity: 100%;
}