:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #f5ca84;
  background-color: #30303f;


  --champagne: #f5ca84;
  --white: #fff;
  --black: #000;
  --gray: rgb(107 114 128);
  --light-gray: rgb(156 163 175);
  --red: rgb(220 38 38);
  --blue: rgb(29 78 216);
  --pink: rgb(209, 45, 156);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, p{
  margin: 0;
  padding: 0;
}

/* General desing */
html{
  overflow: hidden;
}

body{
  height: 100vh;
  padding: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/galery/pro-58mOs2B6.jpeg");
  background-size: cover;
  background-position: center;
}

main{
  padding: 1rem;
}

section{
  height: calc(100vh - 4rem);
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.7rem;
  padding: 2rem 1.5rem;
  position: relative;
}

section {
  background-size: cover;
  background-position: center;
}

section:nth-child(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/galery/pro-uzXGbsP6.jpeg");
}

section:nth-child(3) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/galery/pro-YsWrYsth.jpeg");
}

section:nth-child(4) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/galery/pro-lSPXB895.jpeg");
}

section:nth-child(6) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/galery/pro-4i0lcbgm.jpeg");
}

section:nth-child(8) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/galery/last.jpeg");
}

/* ---------------------- First Section -------------------------------------------- */
/* First Title */
.names{
  font-family: "Imperial Script", sans-serif;
  font-size: 4rem;
  margin-top: 3rem;
}

.names__title{
  display: flex;
  width: 100%;
}

.names__title:nth-child(1){
  justify-content: start;
  margin-bottom: -3rem;
}

.names__title:nth-child(2){
  justify-content: center;
}

.names__title:nth-child(3){
  justify-content: end;
  margin-top: -3rem;
}

/* Timer */
.timer{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.timer__element{
  width: 4.3rem;
  border: 1px solid var(--champagne);
}

.timer__element p:nth-child(1){
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.timer__element p:nth-child(2){
  background-color: var(--champagne);
  color: var(--white);
}

/* we wedding title */
.wewedding{
  font-family: 'Merriweather', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.verse{
  font-size: 1.1rem;
  margin-bottom: 3rem;
  color: var(--white);
}

.verse span{
  font-weight: bold;
  color: var(--champagne);
}
/* --------------------------------------------------------------------------------- */

/* ---------------------- Second Section ------------------------------------------- */
.wedding-date{
  font-size: 2.5rem;
  font-family: "Merriweather", sans-serif;
}

.hidden{
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.visible{
  opacity: 1;
  transform: translateY(0);
}

.our-parents{
  font-size: 1.8rem;
}

.parents{
  border: 1px solid var(--champagne);
}

.parents__title{
  padding: 0.4rem 0;
  color: white;
  background-color: var(--champagne);
}

.parents__name{
  padding: .8rem 0;
}
/* --------------------------------------------------------------------------------- */

/* ---------------------- Thrid Section -------------------------------------------- */
.activities{
  color: var(--white);
}

.activity__name{
  font-family: 'Merriweather', sans-serif;
  font-size: 1.5rem;
  color: var(--champagne);
}

.activity__place{
  font-size: 1rem;
}

.activity__time{
  font-size: 1rem;
  border: 2px solid var(--champagne);
  width: fit-content;
  margin: .4rem auto 0 auto;
  padding: .3rem;
}


.map{
  margin-top: 1rem;
  width: calc(100% - 4px);
  height: 11rem;
  border: 2px solid var(--champagne);
  border-radius: 1rem;
}
/* --------------------------------------------------------------------------------- */

/* ---------------------- Fourth Section ------------------------------------------- */
.dress-code{
  justify-content: center;
  gap: 1rem;
  color: white;
}

.dress-code__titles h2{
  font-family: 'Merriweather', sans-serif;
  color: var(--champagne);
}

.dress-code__examples{
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: fit-content;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  justify-content: space-between;
  scroll-snap-type: x mandatory;
  gap: 2.6rem;
}

.dress-code__examples::-webkit-scrollbar{
  width: 0;
  height: 0;
}

.example{
  flex: 0 0 calc(95% - 2rem);
  height: fit-content;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 2.5rem 0;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
}

.example.center{
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
}

.points-container, .points-container--active{
  display: flex;
  gap: 1rem;
  justify-content: center;
  opacity: 0;
  transition: opacity 500ms ease;
  z-index: 3;
}

.points-container--active{
  opacity: 1;
}

.point, .point--active{
  width: .5rem;
  height: .5rem;
  background-color: var(--white);
  opacity: 40%;
  border-radius: .5rem;
  transition: opacity 500ms ease;
}

.point--active{
  opacity: 100%;
}

.example__buttons{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  height: 100%;
  width: 100%;
}

.example__button--women, .example__button--men{
  background-color: var(--black);
  color: white;
  padding: .7rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  width: 9rem;
}

.example__button--women{
  background-color: var(--white);
  color: var(--black);
}

.example__button__image{
  width: 1.8rem;
  animation: moveSideToSide 1s ease-in-out infinite;
}

.example__button__text{
  font-size: 1.3rem;
}

@keyframes moveSideToSide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.dress-code__icons{
  display: flex;
  gap: 2rem;
}

.dress-code__set{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.1rem;
}

.clothe{
  width: 3.3rem;
  padding: .5rem;
  border-radius: 999px;
  background-color: var(--light-gray);
}

.dress-code__image-example{
  width: calc(100% - 2rem);
}
/* --------------------------------------------------------------------------------- */

/* ---------------------- Fourth Section ------------------------------------------- */
.gift__title{
  font-family: 'Merriweather', sans-serif;
  font-size: 2rem;
  margin: .3rem 0;
}

.gift__text{
  color: var(--white);
  font-size: 1.1rem;
}

.gift__paragraph{
  margin-top: 2rem;
  color: var(--white);
  font-size: 1.2rem;
}

.gift__img{
  margin-top: 3rem;
  width: 75px;
  padding: 1rem;
  border-radius: 50%;
  border: 2px solid var(--champagne);
}
/* --------------------------------------------------------------------------------- */

/* ---------------------- Fourth Section ------------------------------------------- */
.invitation{
  color: var(--white);
}

.invitation__title{
  font-family: "Imperial Script", sans-serif;
  color: var(--champagne);
  font-size: 5rem;
  display: flex;
  justify-content: center;
  height: calc(fit-content + 2rem);
}

.invitation__title span:nth-child(1){
  margin-top: -2rem;
}

.invitation__title span:nth-child(3){
  margin-top: 2rem;
}

.invitation__passes-text{
  font-family: 'Merriweather', sans-serif;
  font-size: 1.4rem;
}

.invitation__passes-name{
  font-family: 'Imperial Script', sans-serif;
  font-size: 2.7rem;
  margin-bottom: .5rem;
}

.passes{
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 1rem;
}

.pass__item{
  border: 1px solid var(--champagne);
  padding: .4rem;
  width: 4.6rem;
}

.pass__image{
  width: 1.9rem;
}

.pass__name{
  font-size: 1.1rem;
}

.pass__number{
  font-size: 1.2rem;
  background-color: var(--champagne);
  font-weight: bold;
  margin-top: .4rem;
}

.assist__title{
  font-size: 1.4rem;
}

.assist__text{
  font-size: 1rem;
  margin-top: 1.2rem;
}

.confirmbutton{
  font-size: 1.2rem;
  background-color: var(--champagne);
  color: white;
  border: none;
  padding: .5rem 1rem;
  margin-top: 1.4rem;
}
/* --------------------------------------------------------------------------------- */

/* ---------------------- Fourth Section ------------------------------------------- */
.gallery__title{
  font-family: 'Merriweather', sans-serif;
  font-size: 2rem;
  z-index: 10;
}

.gallery__section{
  position: relative;
  background-image: var(--gray);
}

.gallery__filter{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  filter: blur(10px);
  z-index: 1;
}

.gallery__container{
  width: 100%;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  justify-content: space-between;
  scroll-snap-type: x mandatory;
  z-index: 2;
}

.gallery__container::-webkit-scrollbar{
  display: none;
}

.gallery__item{
  padding: 1rem;
  flex: 0 0 calc(100% - 2rem);
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.gallery__image{
  width: 100%;
}
/* --------------------------------------------------------------------------------- */

/* ---------------------- Fourth Section ------------------------------------------- */
.last__verse{
  color: var(--white);
}

.last__verse span{
  color: var(--champagne);
}

.last__code-information{
  font-size: .8rem;
  margin-top: 12rem;
}
/* --------------------------------------------------------------------------------- */
